* {
	margin: 0;
	padding: 0;
	border: 0;
}

#wrapper {
	width: 841mm;
	height: 1188mm;
	box-sizing: border-box;
	border: 1px solid #000;
}

header {
	background-color: black;
}

.gradient {
	height: 10mm;
	background: linear-gradient(black, white);
}

.lead {
	color: #121c1e;
	font-size: 28mm;
	margin-top: 0mm;
	clear: both;
	text-align: center;
	font-family: Consolas;
	font-weight: normal;
	font-style: italic;
}

header img {
	width: 50%;
	display: block;
	padding-top: 10mm;
	margin-left: auto;
	margin-right: auto;
}


.content {
	padding: 10mm;
}

h1 {
	color: #3C7386;
	border-bottom: 8mm solid #3C7386;
	font-size: 35mm;
	margin-top: 25mm;
	clear: both;
	font-family: Consolas;
	font-weight: normal;
}

.no-top-margin {
	margin-top: 0;
}

ul {
	list-style-position: inside;
}

ul, p {
	margin: 10mm;
}

ul li, p {
	font-size: 20mm;
	text-align: justify;
	font-family: Monaco;
}

.columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 30mm;
}

.float-image {
	float: right;
	margin: 8mm;
	margin-left: 18mm;
	padding: 10mm;
	width: 280mm;
	overflow: hidden;
	background-color: #DDDDDD;
	border: 2mm dotted black;
}

.float-image img {
	width: 280mm;
}

.float-image .desc {
	font-size: 15mm;
	font-style: italic;
	font-family: Monaco;
}
