* {
	margin: 0;
	padding: 0;
	border: 0;
}

#wrapper {
	width: 841mm;
	height: 1188mm;
	box-sizing: border-box;
	border: 1px solid black;
}

header {
	background-color: black;
}

.gradient {
	height: 10mm;
	background: linear-gradient(black, white);
}

.lead {
	color: black;
	font-size: 40mm;
	margin-top: 10mm;
	margin-bottom: 40mm;
	clear: both;
	text-align: center;
	font-family: Consolas;
	font-weight: normal;
}

header img {
	height: 150mm;
	display: block;
	padding: 15mm 0;
	margin-left: auto;
	margin-right: auto;
}


.content {
	padding: 10mm;
}

h1, h2 {
	color: #3C7386;
	border-bottom: 5mm solid #3C7386;

	clear: both;
	font-family: Consolas;
	font-weight: normal;
}

h1 {
	font-size: 30mm;
	margin-top: 90mm;
}

h2 {
	font-size: 20mm;
	margin-top: 100mm;
}

.no-top-margin {
	margin-top: 0;
}

ul {
	list-style-position: inside;
}

ul, p {
	margin: 10mm;
}

ul li, p {
	font-size: 20mm;
	margin: 5mm 0;
	text-align: justify;
	font-family: Monaco;
}

ul li {
	padding-left: 1em;
	text-indent: -0.9em;
}

.small-text {
	font-size: 15mm;
}

.columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 30mm;
}

.float-image, .abstract-space {
	float: right;
	margin: 13mm;
	margin-left: 18mm;
	padding: 10mm;
	width: 280mm;
	overflow: hidden;
	background-color: #DDDDDD;
	border: 2mm dotted black;
}

.abstract-space {
	width: 220mm;
	height: 280mm;
}

.float-image img {
	width: 280mm;
}

.float-image .desc {
	font-size: 15mm;
	font-style: italic;
	font-family: Monaco;
}

.footnote {
	font-size: 15mm;
	float: right;
}
